extend layout

block content
  .jumbotron.masthead
    .container
      h1= title
      P Testing RethinkDB, Socket.IO, Express, Passport and Bcrypt

      a(href="chat").btn.btn-info
        i.icon-comments-alt
        |  Test it
